p {
   
    font-family: lexend;
    font-size: 70px;
    position: relative;
    bottom: -50px;
}
body {
    background-color: rgb(30, 71, 254);
}
div {
    text-align: center;
    position: relative;
    bottom: -30px;
}
input {
    border-color: rgb(0, 17, 255);
    background-color: rgb(167, 167, 255);
    border-radius: 40px;
   width: 300px;
   text-align: center;
   font-size: 30px;
   height: 40px;
}
#Password {
    bottom: -20px;
    position: relative;
}
button {
    position: relative;
    bottom: -30px;
    border-radius: 40px;
    width: 150px;
    height: 30px;
    border-color: rgb(7, 174, 43);
    background-color: rgb(27, 255, 27);
    font-family: lexend;
    font-size: 20px;
}
span {
    font-size: 30px;
    display: inline-flex;
}
#check {
    position: relative;
    bottom: -10px;
    color: red;
    font-size: 20px;
}